<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Started Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>You are on the start page</h1>
<button type="reset">
    <a href="/main">Go to main page</a>
</button>

</body>
</html>