<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
</head>

<style>
    table, th, td {
        border:1px solid black;
        border-collapse: collapse;
    }
</style>

<body>
    <div>
        <p>Добавить товар</p>
        <form method="post" action="main">
            <input type="text" name="productName" placeholder="Введите название товара">
            <input type="text" name="category" placeholder="Введите категорию">
            <button type="submit">Добавить товар в список</button>
        </form>

        <p>Удалить товар</p>
        <form method="post" action="delete">
            <input type="text" name="productID" placeholder="Введите ID товара">
            <button type="submit">Удалить товар</button>
        </form>
    </div>

    <div>
        <p>Найти товар</p>
        <form method="post" action="filter">
            <input type="text" name="filter" placeholder="введите категорию">
            <button type="submit">Найти товары</button>
        </form>
    </div>

    <h2>Список товаров</h2>
    <table >
        <tr>
            <th>Id</th>
            <th style="width: 150px">Goods name</th>
            <th>Category</th>
        </tr>
        {{#products}}
            <tr>
                <td>{{id}}</td>
                <td>{{productName}}</td>
                <td>{{category}}</td>
            </tr>
        {{/products}}
    </table>

    {{#productDidntFound}}
        Product didn't found!
    {{/productDidntFound}}

    {{#categoryNotEntered}}
        Category not entered!
    {{/categoryNotEntered}}

    <form method="get" action="main">
        <button type="submit">Показать все товары</button>
    </form>

</body>
</html>