<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
</head>

<style>
    table, th, td {
        border:1px solid black;
        border-collapse: collapse;
    }

    button {
        margin-top: 10px;
    }
</style>

<body>
    <h1>Главная страница</h1>

    <div style="float: left; margin-right: 10px">
        <b>Имя пользователя:</b> {{username}} <br>
        <b>Права доступа:</b> {{roles}}
    </div>

    <div style="margin-top: 30px">
        <form method="post" action="logout" >
            <input type="submit" value="Sign Out"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        </form>
    </div>

    <div style="margin-top: 10px">
        <form method="get" action="editUsers">
            {{#editUsers}}
            <button type="submit"> Редактировать пользователей</button>
            {{/editUsers}}
        </form>

        <form method="get" action="productsPanel">
            {{#editProducts}}
                <button type="submit"> Добавить/Редактировать товары</button>
            {{/editProducts}}
        </form>
    </div>

    <div>
        <h2>Найти товар</h2>
        <form method="get" action="main">
            <input type="text" name="filter" placeholder="Введите категорию">
            <button type="submit" style="margin: auto">Найти товары</button>
        </form>
    </div>

    <h2>Список товаров</h2>
    <form method="get" action="compare">

        <table>
            <tr>
                <th></th>
                <th>Id</th>
                <th style="width: auto">Products name</th>
                <th>Category</th>
            </tr>
            {{#products}}
                <tr>
                    <td><input type="checkbox" name="{{id}}"></td>
                    <td>{{id}}</td>
                    <td>{{productName}}</td>
                    <td>{{category}}</td>
                </tr>
            {{/products}}
        </table>

        <button type="submit">Сравнить товары</button>
    </form>

    {{#productDidntFound}}
        Product didn't found!
    {{/productDidntFound}}

    <form method="get" action="main">
        <button type="submit">Показать все товары</button>
    </form>

</body>
</html>