<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Продуктовая панель</title>
</head>
<body>
<h1>Продуктовая панель</h1>

<div>
    <h2>Добавить товар</h2>
    <form method="post" action="addProduct">
        <input type="text" name="productName" placeholder="Введите название товара">
        <input type="text" name="category" placeholder="Введите категорию">
        <button type="submit">Добавить товар в список</button>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    </form>
</div>

<div>
    <h2>Редактировать информацию о товаре</h2>
    <form method="post" action="editProduct">
        <div>Введите ID товара для редактирования:
        <input type="number" name="productID" placeholder="ID товара">
        </div>

        <div>
        Хотим редактировать:
        <select name="kindOfEditInformation" style="margin: 10px 0">
            <option value="editProductName" selected>имя товара</option>
            <option value="editProductCategory">категорию товара</option>
        </select>
        .
        </div>

        <div>
            <input type="text" name="editInformation" placeholder="Введите изменения">
            <button type="submit">Внести изменения</button>
        </div>

        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    </form>
    {{#idForEditDidntFound}}
        ID = {{editingId}} didn't found!
    {{/idForEditDidntFound}}
</div>

<div>
    <h2>Удалить товар</h2>
    <form method="post" action="deleteProduct">
        <input type="number" name="productID" placeholder="Введите ID товара">
        <button type="submit">Удалить товар</button>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    </form>
    {{#idForDeleteDidntFound}}
        ID = {{deletingId}} didn't found!
    {{/idForDeleteDidntFound}}
</div>


<form method="get" action="main">
    <button type="submit" style="margin-top: 50px"> Вернуться на главную</button>
</form>


</body>
</html>